
<div class="forgotpassword">
<div class="forgotpass-form" #forgotpassform>
    <i class="fa-regular fa-circle-xmark close" (click)="closeForgotpass()" ></i>
    <strong class="title">Forgot Password</strong>

    <div class="lock-icon">
        <span class="material-symbols-outlined lock">
            lock
            </span>
    </div>

    <div class="content">
        <ul>
            <li> Please enter your user name to receive verification code </li>
        </ul>

        <form #forgotPass="ngForm" (ngSubmit)="verifyUser(forgotPass.value)">
            <label for="username"> <span style="color:red">*</span> User Name</label><br>
            <input type="text" name="username" ngModel style="padding: 5px 8px;width: 100%; border-radius:5px;margin-top:5px; border:1px solid rgb(216, 216, 216);outline:none;">
            <div class="btn-div" style="width: 100%; text-align:end; margin-top: 10px;">
                <button type="submit" > Send</button>

            </div>
        </form>
    </div>

</div>



<div class="verifypass-form vform-hide" #verifypassform>
    <svg xmlns="http://www.w3.org/2000/svg" height="24px" viewBox="0 -960 960 960" (click)="goBack()" style="cursor: pointer;" width="24px" fill="#434343"><path d="M560-240 320-480l240-240 56 56-184 184 184 184-56 56Z"/></svg>
    <strong class="title">Verify Your Email</strong>

    <div class="lock-icon">
        <i class="fa-regular fa-envelope mail"></i>
    </div>

    <div class="content">
        <ul>
            <li> Please enter the 6 digit code send to </li>
        </ul>
        <div class="mailid" style="width: 100%; text-align:center;margin-bottom: 15px;">
            <span style="color: green;">bikram.sahoo&#64;silicontechlab.com</span>
        </div>
        <form #verifyPass="ngForm" (ngSubmit)="verifyOtp(verifyPass.value)">
            <div class="otp-input">

                <input type="number" min="0" max="1" required #otpInput ngModel name="otp1">
                <input type="number" min="0" max="9" required #otpInput ngModel name="otp2">
                <input type="number" min="0" max="9" required #otpInput ngModel name="otp3">
                <input type="number" min="0" max="9" required #otpInput ngModel name="otp4">
                <input type="number" min="0" max="9" required #otpInput ngModel name="otp5">
                <input type="number" min="0" max="9" required #otpInput ngModel name="otp6">
            </div>
            <div class="btn-div" style="width: 100%; text-align:end; margin-top: 10px;">
                <p style="text-align: center; color:rgb(98 134 227);cursor:pointer;">Resend OTP</p>
                <button>Verify</button>

            </div>
        </form>
    </div>

</div>
</div>
