.trigger {
    font-size: 18px;
    line-height: 64px;
    padding: 0 24px;
    cursor: pointer;
    transition: color 0.3s;
  }

  .trigger:hover {
    color: #1890ff;
  }

  .logo {
    height: 120px;
    background: rgba(255, 255, 255, 0.2);
    padding:15px 0 5px 0;
    text-align:center;
  }

  nz-header {
    background: #fff;
    padding: 0;
    display: flex;
    justify-content: space-between;
  }

  nz-content {
    margin: 0 16px;
  }

  nz-breadcrumb {
    margin: 16px 0;
  }

  .inner-content {
    padding: 24px;
    background: #fff;
    min-height: 360px;
  }

  nz-footer {
    text-align: center;
  }
  .menu-data{
    border-radius: 8px;
  }
  .title{
    color: rgb(61 87 254);
    display: inline;
    font-weight: 600;
  }
  

  @media screen and (max-width:750px) {
    .title{
      display: none;
    }
    
  }

  @media screen and (max-width:370px) {
    .logout{
      display: none;
    }
    
  }