/* You can add global styles to this file, and also import other style files */
html {
  font-family: 'Arial', sans-serif;
}
body {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  background-color: rgb(11 31 63) !important;
  overflow: hidden;
}